<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title <a href=""></a>>Not Monzo</title>
  </head>
  <body>
  <section>
    <%= yield %>
  </section>
      
  </body>
</html>
